@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

.menu-title-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.menu-title-container h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 80pt; /*135px*/
    /* font-family: 'roboto', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-title-container hr {
    width: 100%;
    border-color: rgba(112, 112, 112, 0.603);
}