<div class="home-page">   
    <app-menu-title></app-menu-title>
    <div class="articles">
        <div class="articles-main">
            <app-big-card
                Id="1" 
                photoCover="https://cdn.cloudflare.steamstatic.com/steam/apps/1145360/capsule_616x353.jpg?t=1680293801"
                cardTitle="Hades: Por que jogar?"
                cardDescription="Hades é um jogo Roguelike onde seu principal 
                objetivo é fugir de um calabouço que tem a fama de não haver escapatória."
            ></app-big-card>
        </div>
        <div class="articles-others">
            <app-small-card
                Id="2"
                cardTime="Februay 15, 2022"
                cardTitle="Como conseguir armas de chefes de Dark Souls I em Dark Souls II" 
                photoCover="../../../assets/img/DS2Scholar(1).jpg"
            ></app-small-card>
            <app-small-card
                Id="3"
                cardTime="March 21, 2022"
                cardTitle="Stardew Valley: Começando bem" 
                photoCover="https://cdn.cloudflare.steamstatic.com/steam/apps/413150/header.jpg?t=1666917466" 
            ></app-small-card>
            <app-small-card
                Id="4"
                cardTime="April 5, 2022"
                cardTitle="Hollow Knight: Por que jogar?" 
                photoCover="https://images5.alphacoders.com/985/985300.jpg"
            ></app-small-card>
        </div>
    </div>
</div>