<div class="menu-bar-container">
    <div class="menu-bar-links">
        <ul>
            <li><a [routerLink]="['']"><img class="menu-bar-logo" src="../../../assets/icons/icons8-controller-67.png" height="75px" width="75px"></a></li>
            <li><a href="">CRIE</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">ANÁLISES</a></li>
            <li><a href="">EM ALTA</a></li>
            <li><a href="">SOBRE</a></li>
        </ul>
    </div>
    <div class="menu-bar-social">
        <ul>
            <li><a href="https://github.com/Call333" target="_blank"><img src="../../../assets/icons/icons8-github.svg" width="48px" height="48px" alt="github"></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/icons/icons8-instagram.svg" width="48px" height="48px" alt="instagram"></a></li>
            <li><a href="https://twitter.com" target="_blank"><img src="../../../assets/icons/icons8-twitter.svg" alt="twitter" width="40px" height="40px"></a></li>
        </ul>
    </div>
</div>